body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e2ffd8;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 50px;
    width: auto;
}

nav ul {
    font-family: "Chelsea Market", system-ui;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    gap: 35px;
    padding: 0;
    margin: 0;
}

nav ul li a:hover {
    transform: scale(1.75);
    color: white;
    text-decoration: none;
}
a {
    color: blue;
    text-decoration: none;  
    transition: color 0.3s;
}

a:hover {
    color: red;
    text-decoration: underline;
}

#content {
    font-family: "Chelsea Market", system-ui;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
#contact {
    font-family: "Chelsea Market", system-ui;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
#contact button {
    font-size: 30px;
    font-family: "Chelsea Market", system-ui;
}

.flag {
    margin-left: -20px;
}


footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-family: "Chelsea Market", system-ui;
    word-spacing: 4px;
    letter-spacing: 1px;
}